<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>混雑度チェッカー</title><!--titleはタブの名前(Webページのタイトル)-->
    <!-- cssの読み込み -->
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <form method="post">
        <h1 class="text-muted">デバイス数:{{count}}</h1>
    </form>
    <div>
        <img src="../static/images/crowded.png"width="400" height="200">
    </div>
    <div>
        <details>
            <summary>マップ</summary>
            <div>
                <img src="../static/images/crowded.png"width="400" height="200">
            </div>
        </details>
    </div>
    
    <!--Z号館側-->
    <form method="post">
        <h1 class="text-muted">デバイス数:{{count}}</h1>
    </form>
    <div>
        <img src="../static/images/crowded.png"width="400" height="200">
    </div>
    <div>
        <details>
            <summary>マップ</summary>
            <div>
                <img src="../static/images/crowded.png"width="400" height="200">
            </div>
        </details>
    </div>
</body>
</html>